- content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
  %td.image= image_tag("image1.jpg", :alt => "Featured child")
  %td.data
    .child_name= h resource.child.try(:first_name)
    .about Description of the item
  %td.type Child Sponsorship
  %td.cost
    %p Your amount
    %select
      %option €30 monthly
      %option €90 quarterly
      %option €180 half-yearly
      %option €360 yearly

  %td.actions
    = link_to 'X remove', mybb_sponsorship_path(resource), :confirm => 'Are you sure?', :method => :delete