- content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
  %td.image= image_tag("image3.jpg", :alt => "Featured child")
  %td.data
    .child_name= h resource.child.try(:first_name)
    .type Child Sponsorship
  %td.cost
    %input{:type=>"radio"}
    %label €30 monthly
    %br
    %input{:type=>"radio"}
    %label €90 quarterly
    %br
    %input{:type=>"radio"}
    %label €180 half-yearly
    %br
    %input{:type=>"radio"}
    %label €360 yearly

  %td.actions
    = link_to 'X remove', mybb_sponsorship_path(resource), :confirm => 'Are you sure?', :method => :delete