%h1.heading
  = "Your Sponsorships"

%table
  %tbody.items.resources
    - collection.each do |resource|
      - if resource == collection.first
        = render 'item_featured', :resource => resource
      - else
        = render 'item', :resource => resource

= will_paginate(collection)
