#step2
  = render :partial => 'shared/steps'
  #main
    %h2
      = "Your Sponsorships"
    %p Child sponsorship is only €30 a month. That's about €1 a day to change a life.

    %table
      %tbody.items.resources
        - collection.each do |resource|
          = render 'item', :resource => resource

    = will_paginate(collection)

  #sidebar
