#about_us

  %h2 What is Building Blocks?
  %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Cum quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec error quis pharetra. Eros metus quam augue suspendisse, metus rutrum risus erat in.  In ultrices quo ut lectus, etiam vestibulum urna a est, pretium luctus euismod nisl, pellentesque turpis hac ridiculus massa. 
  %p Venenatis a taciti dolor platea, curabitur lorem platea urna odio, convallis sit pellentesque lacus proin. Et ipsum velit diam nulla, fringilla vel tincidunt vitae, elit turpis tellus vivamus, dictum adipiscing convallis magna id. Viverra eu amet sit, dignissim tincidunt volutpat nulla tincidunt, feugiat est erat dui tempor, fusce tortor auctor vestibulum. Venenatis praesent risus orci, ante nam volutpat erat. Cursus non mollis interdum maecenas, consequat imperdiet penatibus enim, tristique luctus tellus eos accumsan, ridiculus erat laoreet nunc.

  %br

  %h2 About FDS
  %p Family Development Services (FDS) is a society comprised of individuals who have dedicated their lives to serving others in need.

  %p The leaders of tomorrow are today’s children, we have made it our responsibility to provide them with the academic and character building education required to equip them to face the future.

  %p We offer counseling, comfort and encouragement to the parents and families of the children as well as practical assistance to those in need.

  %p Family Development Services is a non- profit, volunteer organization comprised of individuals and families who have devoted their lives to fulltime service. Members of FDS are committed to making a difference through their involvement in a variety of social, educational and humanitarian projects through out India.

  %p Our common goal is to improve the quality of life of all members of society; especially those who are poor, suffering or otherwise disadvantaged.

  %p Our projects are set up to respond to a wide spectrum of needs. Over the years these programs have included: Child development, educational and vocational training, health services, drug prevention and rehabilitation, disaster relief and personal counseling, helping youth at risk, assisting the physically challenged.

  %p FDS is an umbrella project of Family India Foundation and shares a similar vision. We are committed to success, with your support, FDS will continue to grow.