#featured
  background= image_url("divider.png") "no-repeat center bottom"
  margin-bottom: 40px

  p, li
    font-family: Palatino, Georgia, "Times New Roman", Times, serif
    letter-spacing: 0.02em
    line-height: 1.2em
    font-size: 1.1em
  
  #sponsor
    background= image_url("sponsor.png") "no-repeat left"
    height: 300px
    
    h1
      padding: 70px 0 10px 0px
      
    p
      padding-right: 20px
      
    h1, p, ul
      margin-left: 230px
      
    ul
      +horizontal-list
      margin: 12px 0 0 225px
      li
        background= image_url("button1.png") "no-repeat center"
        color= !blue
        font-size: 1.05em
        padding: 10px
        text-align: center
        width: 90px
        +rounded
        &#search
          background= image_url("button2.png") "no-repeat center"
          color= !yellow
          
  #meet
    background= image_url("featured.png") "no-repeat right"
    height: 300px
    
    #info
      float: left
      width: 205px
      
      a
        letter-spacing: 0.03em
        text-transform: none
        color= !blue
        font-family: Arial, Helvetica, sans-serif
        
    #image
      float: right
      padding: 54px 26px 0 0
    
    h2, p
      padding: 0 20px
      text-align: right
      
    h2
      padding: 90px 20px 0 0
