#sidebar
  .title
    %h2 Give even more
    %p One extra line to describe the options

  .third
    .top
      %h6 Sponsor another child
      = image_tag "image1.jpg", :alt => "Child"
      %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc.

    .bottom
      .left
        %button.alt Read more
      .right
        %p for another $30
        %button Sponsor now

  .third
    .top
      %h6 Sponsor another child
      = image_tag "image1.jpg", :alt => "Child"
      %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc.

    .bottom
      .left
        %button.alt Read more
      .right
        %p donate $30
        %button Sponsor now

  .third
    .top
      %h6 Sponsor another child
      = image_tag "image1.jpg", :alt => "Child"
      %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc.

    .bottom
      .left
        %button.alt Read more
      .right
        %p give $30
        %button Sponsor now

  .third
    .top
      %h6 Sponsor another child
      = image_tag "image1.jpg", :alt => "Child"
      %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc.

    .bottom
      .left
        %p choose your amount
        %input

      .right
        %p for another $30
        %button Sponsor now