= render :partial => 'layouts/featured'

.first-half
  #presentation
    .heading
      %h6 View our short presentation
      %p.more.right view more videos
  #testimonial
    .heading
      %h6 Testimonial
  #aboutus
    .heading
      %h6 About us

.second-half
  #news
    .heading
      %h6 Latest news
      %p.more.right read more news
    .entry
      %h4 Some blog title
      %p Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.
      .info
        %p.more.left written 6 days ago
        %p.more.right 5 comments
    .entry
      %h4 Some blog title
      %p Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.
      .info
        %p.more.left written 6 days ago
        %p.more.right 5 comments
    .entry
      %h4 Some blog title
      %p Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.
      .info
        %p.more.left written 6 days ago
        %p.more.right 5 comments