#featured
  .wrapper
    #sponsor
      %h1 
        Sponsor
        %br a child today
      %p For about €1, you can transform a child's life by providing basic necessities like education, food, and the chance to help them get proper education.
      %ul
        %li boy/girl
        %li age
        %li#search search
    #meet
      #info
        %h2 Meet Akash,
        %p he's a 3 year old boy and likes football
      #image
        = image_tag "child.png", :alt => "Featured child"