#header
  .wrapper
  
    #logo
      = image_tag "logo.png", :alt => "Building BLocks Logo"
  
    #user_nav
      %ul
        %li log in
    
    #main_nav
      %ul
        %li#child support a child
        %li#work support our work
        %li#schools our schools
        %li#about about us