!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  = render :partial => 'layouts/head'

  %body.two-column
    = render :partial => 'layouts/header'
    = render :partial => 'layouts/content'
    = render :partial => 'layouts/footer'
